* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.color-trans {
  color: #00000099;
}
.section-all {
  background-color: #efefef;
  margin-bottom: 0;
  padding: 30px;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 530px);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--min-color);
    border-radius: 10px;
}

.page-enter-active,
.page-leave-active {
  transition: 0.3s all;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}
:root {
  --min-color: #000000;
}
ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
.section-all-fav {
  background-color: white !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.sdsaass {
  text-align: center;
  padding: 30px;
  border: 1px solid rgb(255, 221, 221);
}
.color-red {
  color: red;
}
.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.256);
  top: 0;
  z-index: 4;
}
.popup-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  width: 600px;
  padding: 30px;
  position: relative;
  overflow: auto;
}
label {
  display: block;
  margin-bottom: 10px;
}
@font-face {
  font-family: Satoshi;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}
p {
  margin: 0 !important;
}
button {
  background: none;
  border: none;
}
a {
  color: black !important;
  text-decoration: none !important;
}
.content-center {
  display: flex;
  justify-content: center;
}
section {
  margin-top: 30px;
  margin-bottom: 30px;
}
.active-color {
  color: var(--min-color);
}
.content-bettwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}
.header-content {
  width: 100%;
  background-color: var(--min-color);
  padding: 15px;
}
.head-sohial {
  display: flex;
  gap: 10px;
}
select {
  appearance: none;
}

.flex-global {
  display: flex !important;
  gap: 5px;
  align-items: center;
}

.button-all {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px;
  background-color: var(--min-color);
  color: white;
  border-radius: 30px;
}
footer {
  position: relative;
  /* margin-top: 13rem; */
}

.p-toast-message-content {
  align-items: center !important;
  /* background: #36a336 !important; */
  /* color: white !important; */
  border-radius: 5px !important;
  padding: 15px !important;
}
.p-toast-message-text {
  flex-direction: row;
}


.p-toast-message-text {
  gap: 0 !important;
}
.p-toast-close-button {
  transform: translateY(5px);
}

.img-parent {
  width: 100%;
  height: 542px;
  object-fit: contain;
}

.section-parent {
  background-color: #F2F0F1;
  padding-top: 30px;
}
.parent-box-img {
  position: relative;
}
.star-img {
  position: absolute;
  right: 0;
}
.star-img-2 {
  position: absolute;
  left: 0;
  bottom: 30%;
}
.title-parent {
  font-size: 70px;
  font-weight: bold;
}
.title-sallery {
  font-size: 50px;
  font-weight: bold;
}
.text-trans {
  color: #00000099;
}
.red {
  color: red;
}
.inner {
  background-color: var(--min-color);
  padding: 40px;
}
.inner-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.bold {
  font-weight: bold;
}

.img-carousel {
  width: 200px;
  height: 300px;
}

.star-icon {
  color: #FFC633;
}

.carousel-box {
  box-shadow: 0 2.243px 4.486px 0 hsla(34, 44%, 77%, .2);
  /* padding: 20px; */
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 120px;
}

.button-view {
  background-color: white !important;
  color: black !important;
  border: 1px solid black;
  transition: 0.6s;
}
.button-view:hover {
  background-color: black !important;
  color: white !important;
}
.content-center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mg-bottom {
  margin-bottom: 60px;
}

.section-styles {
  background-color: #F0F0F0;
  padding: 40px;
}

.styles-box {
  position: relative;
  margin-bottom: 30px;
}
.styles-box h5 {
  position: absolute;
  top: 18px;
  left: 30px;
  font-weight: bold;
}
.styles-box img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
}
.carousel__prev {
  position: absolute !important;
    left: 90% !important;
    top: -15% !important;
}
.carousel__next {
  position: absolute !important;
  top: -15% !important;
  right: 4% !important;
}
.foot-content {
  width: 100%;
  background-color: var(--min-color);
  padding: 40px;
  border-radius: 15px;
  transform: translate(0px, 41%);
}
.content-foot {
  background-color: white !important;
}
.submit-foot {
  justify-content: center;
  margin-top: 15px;
}
.footer {
  background-color: #F0F0F0;
  padding: 50px;
  padding-top: 12rem;
}
.sohail-icon {
  background: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 21px;
  transition: 0.4s;
  border: 1px solid #00000033;
}
.sohail-icon:hover {
  background-color: var(--min-color);
  color: white !important;
}
.foot-links li{
  margin-bottom: 20px;
}
/* .footer-container {
  position: relative;
} */
.breadcrumb-item+.breadcrumb-item::before {
  display: none;
}
.breadcrumb-item {
  padding: 0 !important;
}
.breadcrumb {
  display: flex;
  gap: 10px;
}
.breadcrumb-item svg {
  font-size: 13px;
}
.calc-prudact {
  background-color: #F0F0F0;
  padding: 13px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
}
.button-add-card {
  width: 100%;
}
.p-galleria-thumbnail img {
  width: 97px !important;

}
.p-galleria-thumbnail-nav-button {
  display: none !important;
}
.p-galleria-content {
  flex-direction: row-reverse !important;
  gap: 20px;
}
.fancyImg {
  width: 80% !important;
}
.fancyImg img{
  width: 100%;
} 
.p-galleria-thumbnail {
  padding: 20px;
  border: 2px solid var(--min-color);
  border-radius: 10px;
}
.p-galleria-thumbnails-content {
  padding: 0 !important;
}
.p-tablist-tab-list {
  justify-content: space-between;
}
.p-tablist-tab-list button {
  width: 33%;
}
.p-tab-active {
  border-color: var(--min-color) !important;
  color: var(--min-color) !important;
}
.p-tablist-active-bar {
  background: var(--min-color) !important;
}
.dropdown-prudact {
  border-radius: 25px !important;
  background-color: #F0F0F0 !important;
  border: none !important;
  padding: 10px 20px !important;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-done {
  width: 20px;
}
.box-sallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-cart {
  width: 150px;
  height: 150px;
}
.delete-cart {
  color: red;
  position: absolute;
  right: -14px;
  top: -6px;
}
.calc-cart {
  width: 140px;
}
.cart-box {
  padding: 15px;
  box-shadow: 0 2.243px 4.486px 0 hsla(34, 44%, 77%, .2);
  margin-bottom: 30px;
}
.cart-box:not(:last-of-type) {
  border-bottom: 1px solid rgb(223, 222, 222);
}

.cart-content {
  border: 1px solid rgb(211, 211, 211);
  border-radius: 20px;
  padding: 15px;
}
.delete-cart {
  font-size: 20px;
}
.form-cart {
  display: flex;
  gap: 10px;
  align-items: center;
}
.cart-form-box {
  padding: 15px !important;
}
.p-tablist-active-bar {
  display: none !important;
}
.breadcrumb-item a {
  color: rgb(33 37 41 / 75%) !important;
}
.black {
  color: black !important;
}
/* responsive  */
@media (max-width: 992px) {
  .carousel__prev {
    position: absolute !important;
      left: 90% !important;
      top: -12% !important;
  }
  .carousel__next {
    position: absolute !important;
    top: -12% !important;
    right: 0% !important;
  }
  .inner-product {
    margin-top: 40px;
  }
  .cart-content {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .inner-content {
    justify-content: center;
  }
  .p-galleria-content {
    flex-direction: column !important;
  }
  .dropdown-content {
    flex-wrap: wrap;
    gap: 20px;
  }
  .title-parent {
    font-size: 35px;
  }
  .carousel-box {
    padding: 15px;
  }
}
@media (max-width: 576px) {
  .p-toast {
    width: 70% !important;
  }
  .p-toast-summary {
    font-size: 13px !important;
  }
  .carousel__next {
    top: -5% !important;
  }
  .carousel__prev {
    position: absolute !important;
      left: 85% !important;
      top: -5% !important;
  }
  .p-tablist-tab-list button {
    /* width: 0 !important; */
    font-size: 11px;
    padding: 12px;
  }
  .button-all {
    width: 140px;
    font-size: 14px;
  }
  .button-view {
    width: 180px;
  }
  .content-search {
    width: 90% !important;
    margin-top: 30px;
  }
  .p-tablist-content {
    flex-grow: 0 !important;
    width: 100% !important;
  }
  .title-sallery {
    font-size: 25px;
  }
  .box-sallery {
    justify-content: space-evenly;
    text-align: center;
  }
  .cart-form-box {
    margin-top: 0px;
  }
  .p-image-original {
    transition: transform 0.55s !important;
    max-width: 70vw !important;
}
}
@media (max-width: 500px) {
  .cart-inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .img-cart {
    margin-bottom: 20px;
  }
  .delete-cart {
    top: -203px;
}
.calc-cart {
  width: 120px;
}
} 
@media (max-width: 400px) {
  .p-toast {
    width: 80% !important;
    font-size: 11px !important;
  }
  .p-toast-summary {
    font-size: 11px !important;
  }

}
